body {
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 30px;
}

h1 {
  color: black;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
}

button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: gray;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}

img {
  display: block;
  margin: 15px auto 0 auto;
  width: 60%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

footer {
  margin-top: 40px;
  color: black;
  font-size: 14px;
}